.el-tabs--border-card
  background var(--bodyComplementColor) !important
  border 1px solid var(--borderColor) !important

.el-tabs--border-card
  >.el-tabs__header
    background-color var(--bodyBgColor) !important
    border-bottom 1px solid var(--borderColor) !important

.el-tabs__item
  &.is-active
    background-color var(--bodyComplementColor) !important
    border-left-color var(--borderColor) !important
    border-right-color var(--borderColor) !important
    color var(--accentColor) !important
  &:hover
    color var(--actionBtnHoverBorderColor) !important